*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    scroll-margin-left: 10px;
    color: #c7c7c7;
}

.column3{
    max-width: 400px;
}

.column3 h1{
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}

.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    color: #c7c7c7;
    text-decoration: none;
}

.footer{
    margin: auto;
}

@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
 .column1{
    max-width: 100%;
}

    .column2,
    .column3{
        margin-top: 40px;
    }
}
