
<h1 style="margin-top: 5em;" align="center">Productos en el Carrito</h1>
<div class="row justify-content-center " align="center">
        <div class="card modal-content" style="width: 18rem;" >
          <div class="card-body ">
            <h5 class="card-title" ><input type="hidden" #nombreProd value="{{prod}}">{{product}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h5 class="card-title" ><input type="hidden" #nombreProd value="{{prod}}">{{carrit}}</h5>
            <button type="button"  class="btn btn-primary" (click)="addToCar(nombreProd)">Comprar</button>
          </div>
        </div>
