<h1 style="margin-top: 5em;" align="center"> </h1>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Finalizar Comprar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <p>Productos a Comprar: </p>
    </div>

    <div class="modal-footer">
      <button style="margin-left: 10px" type="button" class="btn btn-primary" (click)="Comprar()">Comprar</button>
      
      <button style="margin-left: 10px" type="button" class="btn btn-primary" (click)="Cancelar()">Cancelar</button>
    </div>

  </div>
</div>